.imageDiv {
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 20px;
}

.whiteBorder {
  border: 8px white solid;
}

.mainTitle {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

.textBox {
  background: rgb(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
}

.text {
  color: white;
  text-align: center;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.divider {
  background-color: white;
  margin: auto;
  border-radius: 20px;
  width: 80%;
  height: 6px;
}

.imageRow {
  text-align: center;
}

.centerImage {
  padding: 20px;
}