.imageDiv {
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}

.whiteBorder {
  border: 8px white solid;
}

.title {
  text-align: center;
  font-size: 30px;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.textBox {
  background-color: white;
  background: rgb(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
}
