html,
body {
  background-image: url(./images/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
}

.Text {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 1em;
}
