html,
body {
  background-color: white;
  background-image: url(./images/background.png);
  height: 100%;
  background-position: left top;
  background-repeat: repeat-y;
  background-size: cover;
}

.App {
}

.Text {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 1em;
}
